.cards {
  box-sizing: border-box;
  padding: 0 19px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 714px) {
  .cards {
    gap: 20px;
  }
}