.login {
  width: 358px;
  margin: auto;
}

.login__title {
  margin: 0 0 40px 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.login__submit-btn {
  border: none;
  margin: 216px 0 0 0;
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}