.popup__body_target_card-fullscreen{
  padding: 0;
  width: 816px;
  border-radius: 0;
  background: transparent;
}

@media screen and (max-width: 918px) {
  .popup__body_target_card-fullscreen {
    width: 433px;
  }
}
@media screen and (max-width: 600px) {
  .popup__body_target_card-fullscreen {
    width: 240px;
  }
}

